@import "Invitation.css";

.EditInvitation-textarea-header {
  background-color: transparent;
  color: white;
  text-align: center;
  width: 100%;
  border-color: white;
  border-radius: 10px;
}
.EditInvitation-textarea-body {
  background-color: transparent;
  color: white;
  text-align: center;
  width: 100%;
  height: 50px;
  border-color: white;
  border-radius: 20px;
  font-size: 20px;
}

.EditInvitation-input-body {
  background-color: transparent;
  width: 15px;
  color: white;
  text-align: center;
  border-color: white;
}
